.article-container{
  display: inline-block;
  max-width: 350px;
  /*width: 100%;*/
  margin: 10px;
  box-sizing: border-box;
}

.article-content{
  clear: left;
  word-wrap: break-word;
}

.full{
  width: 100%;
}

.article-container img {
  max-width: 320px;
  width: 95%;
  height: 15em;
  float: left;
  margin: 10px 15px;
}

.article-title{
  text-decoration: none;
  cursor: pointer;
  color: #00796b;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 410px){
  .article-container img{
    margin: 0 !important;
  }
}

@media screen and (max-width: 768px){
  .article-container{
    max-width: 500px;
  }
  .article-container img{
    max-width: 470px;
  }
}
