			.clearfix:after {
				visibility:hidden;
				display:block;
				font-size:0;
				content: ".";
				clear:both;
				height:0;
				line-height:
			}
			.clearfix {
				display: inline-block;
			}

			.bubble-list .bubble img {
				float:left;
				width:70px;
				height:70px;
				border:3px solid #ffffff;
				border-radius:10px

			}
			.bubble-content {
				position:relative;
				float:left;
				margin-left:12px;
				width:100%;
				padding:0px 20px;
				border-radius:10px;
				background-color:#FFFFFF;
				box-shadow:1px 1px 5px rgba(0,0,0,.2);
				border-sizing:border-box;
			}

			.bubble {
				margin-top:20px;
				width: 100%;
			}
			.point {
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right: 12px solid #FFF;
				position:absolute;
				left:-10px;
				top:12px;
			}

			.bubble-list{
				width: 100%;
			}

			.bubble-list .sub{
				width: calc(100%-3em);
			}
