$primary: #009688;
$light-primary: #B2DFDB;
$dark-primary: #00796b;
$red: #f44336;
$white: #f2f2f2;
$divider: #b6b6b6;
$error: #FF5252;
$borde: 2px;
$font-family: "Roboto", Arial;
.half {
  width: 50%;
  height: 100%;
}
.comment-container {
  overflow: scroll;
}
#wrap_galerias {
  // position: relative;
 padding-top: 10px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  .gallery-image {
    img {
      height: 300px;
      float: left;
      margin: 10px;
    }
  }
  .fancybox-media {
    img {
      //height: 300px;
      float: left;
      margin: 10px;
    }
  }
  .fancyOther {
    // text-align: left;
    display: inline-block;
    img {
      width: 20em;
      height: 15em;
      float: left;
      margin: 10px;
      // text-align: center;
      // margin: auto;
      // background-color: green;
    }
  }
}

.thumb-vid{
  object-fit: scale-down;
}
@media screen and (max-width: 767px) {
  .half {
    width: 100%;
  }
  .fancybox-next {
    right: 5% !important;
  }
  .comment-container {
    overflow: visible;
  }
}
@media screen and (max-width : 320px) {
  #wrap_galerias {
    .fancyOther {
      img {
        width: 17em;
        height: 12em;
      }
    }
  }
}
